:root {
  --neutral: #232946;
  --base-color: #fffffe;
  --neutral-focus: #121629;
  --secondary-color: #eebbc3;

}

* {
  margin: 0;
}

body {
  font-family: "Montserrat";
  text-align: center;
  background-color: var(--neutral);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

h1 {
  font-size: 60px;
}

#nav-bar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--neutral);
  padding: 20px 0;
  font-size: 20px;
  border-bottom: 1px solid var(--neutral-focus);
}

.nav-links {
  display: flex;
  list-style: none;

}

.nav-links a {
  text-decoration: none;
  padding: 0 10px;
  color: var(--base-color);
}

.nav-links a:hover {
  text-decoration: underline;
}

section {
  min-height: 100vh;
  padding: 70px 0;
}

#welcome-section {
  background-color: var(--neutral);
  color: var(--base-color);
  display: flex;
  flex-direction: column;

}

#welcome-section h1 {
  margin-top: 30vh;
}

#welcome-section p {
  color: var(--secondary-color);
  font-size: 25px;
  margin: 25px 0;
  font-style: italic;
}
